body{
    background:linear-gradient(to right,#F3BE85,#FFEAD2) ;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.forgot_password{
    border: 1px solid black;
    width: 570px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
}

h1{
    font-family: 'Poppins',sans-serif;
    margin-left: 0px;
    margin-top: 30px;
    font-size: 30px;
}

img{
    margin-bottom: 0px;
    margin-top: 15px;
    scale: 0.6;    
}

.mail{
    margin-top: -30px;
    margin-left:5px;
    width:160px;
    height:130px;
}

p{
    font-family: 'Roboto';
    text-align: center;
    margin: 5px;
    font-size:19px;
}

.interactive_button{
    display: flex;
    flex-direction: column;
}

.send_email{
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: #F3BE85;
    border-radius: 30px;
    border: 0px;
    width: 230px;
    height: 55px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 22px;
    font-weight: bolder;
}

.send_email:hover{
    transform: scale(1.05);
}

a {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none; 
    font-size: 22px;
    margin-left: 45px;
}