body{
    background-color: #F9F2E1;
    font-family: 'Roboto' sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Create{
    width: 800px;
    height: 100%;
    background-color: white;
    border:none;
}

h1,h2{
    margin-left:15px;
    color: #ECB77F;  
}

h1{
    font-size: 46px;
}

h2{
    
    font-size: 34px;
}


h3{
    font-size: 18px;
    margin-left:15px;
    padding: 0px;
    font-weight:bold;
}

.option{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

select{
    width: 325px;
    padding:10px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 16px;
}

input[type="name"]{
    margin-left:15px;
    margin-bottom: 15px;
    width: 400px;
    color: black;
    font-size: 16px;
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type="name"]:focus{
    outline: none; 
}

h3[for="description"]{
    margin-top: 30px;
}

textarea{
    width: 555px;
    height: 200px;
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 10px;
    color: black;
    font-size: 16px;
    border: black solid 1px;
    border-radius: 15px;
    font-family: sans-serif;
    resize:none;
}

::placeholder{
    color: black;
    text-align: start;
    font-family: 'Roboto' sans-serif;
}

.interractive_button{
    width: 800px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

input[type="file"]{
    display: none;
}

label img{
    scale: 1.5;
    cursor: pointer;
    padding: 10px;
    background-color: #F9F2E1;
    border-radius: 15px;
    border: black dashed 1px;
    margin-left: 35px;
    margin-top: 10px;
}

button[type="next"]{
    margin-bottom:45px ;
    margin-top: 30px;
    background-color: #F3BE85;
    border-radius: 30px;
    border: 0px;
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.lien_accueil{
    margin-top: 50px;
    margin-left: 60px;
    background-color: white;
    margin-bottom: 15px;
}

a[href="accueil.html"]{
    color: black;
    text-decoration: none;
    font-weight: bold;
}



