section{
    display: flex;
    flex-direction: row;
    gap:55%;
    margin-left: 2.5%;
}

h1{
    color: #ECB77F;  
    font-size: 4.1vh;
}

button[for="modifier"]{
    position: absolute;
    margin-top: 30px;
    background-color: #F3BE85;
    border-radius: 30px;
    border: 0px;
    width: 17%;
    height: 5%;
    text-align: center;
    font-size:2.9vh;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.article{
    width: 25%;
    height: 25%;
    margin-left: 6%;
}

.card{
    width: 100%;
}

.card_content_top{
    display: none;
    position:absolute;   
}

.card img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.card:hover .card_content_top{
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    gap: 30%;
    width: 25%; 
    background-color: #FFEAD2;
    color: black; 
    opacity: 80%;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    font-size:1.9vh;
}

p[id="name_recette"]{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}
