body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
  
header {
  display: flex;
  align-items: center;
  background-color: #F7D4AF;
}

.logo{
  width: 260px;
  height: 90px;
  margin-left: 20px;
}
  

input[type="search"] {
  margin-left: 130px;
  padding-left: 30px;
  border: 0px;
  border-radius: 50px;
  width: 800px;
  height: 50px;
  background-color: #FFEAD2;
  font-size: 25px;
}

.search{
  background-color: #FFEAD2;
  background-image: url("../tastebuds_html/images/search_button.png");
  background-size: cover;
  border: none;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-left: -50px;
  margin-top: 0px;
}

.right_side{
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.info{ 
  cursor: pointer;
  width: 20px;
  height: 12px;
  }

.profile{
  scale:0.9;
  cursor: pointer;
  margin-right: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position:absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index:1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block; }

