main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

h1[for="fiche"] {
  margin-top: 2%;
  font-size: 6vh;
  color: #f3be85;
}

.fiche {
  background-color: #f9f2e1;
  border-radius: 5%;
  width: 50%;
  justify-content: center;
  padding-bottom: 20px;
}

.title {
  margin-top: 1%;
  margin-left: 3%;
}

.title h1 {
  font-size: 3vh;
}

.image_recette {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image_recette img {
  width: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.row_under_image {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.row_left_side {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.title {
  margin-top: 0px;
  flex-wrap: wrap;
}

.like {
  display: flex;
  flex-direction: row;
  margin-left: 4%;
  margin-top: 3.5%;
}

.like img {
  height: 60%;
}

.like span {
  margin-left: 15%;
  margin-top: 10%;
}

.share img {
  width: 8%;
  height: 60%;
}

.share {
  margin-top: 2%;
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: end;
  margin-right: 3%;
}

h1[for="info"] {
  font-size: 2.3hv;
  margin-left: 4%;
  padding: 0px;
  font-weight: bold;
}

.infos_colonne {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.infos1,
.infos2 {
  width: 50%;
}

.ligne span {
  width: 5%;
  margin-top: 4.5%;
  margin-left: 1.5%;
}

.ligne span[id="type_cooking"],
span[id="category"],
span[id="difficulty"] {
  width: 50%;
}

.ligne p {
  width: 5%;
  margin-top: 4.5%;
}

h3 {
  margin-left: 2%;
}

p {
  width: 70%;
}

h3[id="step"] {
  margin-left: 0.5%;
}

div[id="temps_prepa"] {
  width: 24%;
}

ol[for="ingredients"] {
  list-style-type: disc;
}

.ligne,
.ligne_ingredient {
  display: flex;
  flex-direction: row;
}

.ligne_ingredient span[id="quantity"] {
  margin-left: 1%;
}

.preparation h3 {
  margin-top: 6%;
}

h3[for="liste_ingredients"] {
  margin-top: 5%;
}

.ligne_step {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
}

ol[for="step"] {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
}

li[id="step"] {
  margin-top: 4%;
  width: 65%;
}

.description p {
  margin-left: 5%;
  width: 70%;
}

.etape_image {
  margin-right: 10%;
  width: 15%;
}

.etape_image img {
  width: 100%;
}
