body{
    background:linear-gradient(to right,#F3BE85,#FFEAD2) ;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right_side {
    background-color: white;
    height: 720px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 600px;
}

h1{
    font-family: 'Poppins',sans-serif;
    margin-left: 50px;
    margin-top: 90px;
    font-size: 45px;
    margin-bottom: 0px;
}

.interactive_button {
    display: flex;
    flex-direction: column;   
}

label[for="email"],label[for="pseudo"] {
    margin-left: 90px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

label[for="password"]{
    margin-left: 90px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

input{
    width: 420px;
    padding: 15px;   
    border-radius: 12px;
    font-size: 16px;
    margin: auto;
    font-weight: bold;
}

input[type="password"],input[type="pseudo"] {
    border: 1px solid #000000;
}

input[type="email"]{
    border: 1px solid red;
}

p{
    font-family: 'Roboto', sans-serif;
    color: red;
    margin-left: 100px;
    font-size: 16px;
    margin-top: 10px;
}

.opt {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-left: 180px;
    margin-top: -10px;
}

a {
    color: black;
    text-decoration: none; 
}

a[href="accueil.html"]{
    font-size: 22px;
    margin-left: 160px;
}

.sign-btn {
    margin-left:180px;
    margin-top: 25px;
    margin-bottom: 5px;
    background-color: #F3BE85;
    border-radius: 30px;
    border: 0px;
    width: 230px;
    height: 55px;
    text-align: center;
    color: white;
    font-weight: bolder;
}

.sign-btn:hover{
    transform: scale(1.05);
}

button[type="submit"]{
    font-size: 24px;
}

.left_side {
    background-image: url("../tastebuds_html/images/fond_connexion.jpg");
    background-size: cover;
    height: 720px;
    width: 600px;;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    scale: 0.6;
    margin-top: 10vh;
}

h2{
    font-family: 'Sahitya';
    font-size:32px;
    padding:10px;
    margin:0;
    font-weight: 100;
}

