<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  

        <title>Yahoo !</title>
    </head>

    <body>
        <h1>Congrats chef !</h1>
        <p>Your account is now activated ! <br\>Enjoy the website !</p>
        <form action="/login" method="GET">

            <button type="submit">Login</button>

        </form>
    </body>

</html>