<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/jQuery/jquery-3.7.1.min.js"></script>
        <script src="/jQuery/ui/jquery-ui.min.js"></script>
        <script src="/jQuery/scripts/create_post.js"></script>
        <link rel="stylesheet" href="/jQuery/ui/jquery-ui.min.css">

        <title>Créer une recette</title>

    </head>

    <body>

        <h1>Créer une recette</h1>

        <div id="formLoader"></div>


        <form action="/" method="GET">
            <button type="submit">Retour à l'accueil</button>
        </form>

    </body>
</html>