<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/css/error404.css" rel="stylesheet">

        <title>Tastebuds - Erreur 404</title>
    </head>

    <body>

        <div class="text">
            <h1> ERROR 404 </h1>
            <p> La page n'existe pas ou a été supprimée</p>
        </div>

        <img src="/medias/website/common/error.jpg">


        <div class="lien_accueil">
            <a href="/">Retour à l'accueil</a>
            <!--<p id="pop_up"> Souhaitez-vous conserver le brouillon ?</p>-->
        </div>

    </body>
</html>