/*.search
{
    display : inline-block;
    width : 300px;
}
.logo 
{
    display : inline-block;
    width : 200px;
}
.header
{
    background-color: brown;
}

.input
{
    display : inline-block;
    width : 200px;
}*/



.header
{
    background-color: rgb(210, 106, 106);
    display: flex ;
    height : 60px;
    align-items: center;
}



input.main_search_bar
{
    
    flex:1;
}
.filters_section
{
    display: inline-block;
    width: 300px;
    margin-top: 10px;
    vertical-align: top;
    border: 2px solid;
    border-color: black;
    background-color: bisque;
}
.filter
{
    margin: 6px;
}
.scrolable
{
    display : inline-block;
    margin :30px;
    margin-left: 130px;
}
.title_section {
    display: flex;
    flex-direction: row; /* This ensures items are in a row */
}
.share
{
    display : inline-block;
    width:25px;
}

.paragraphe
{
    flex: 1;
}
.like
{
    display: flex;
    flex-direction: row;
}


