<!DOCTYPE html>


<main>

    <div id="recipePart2" class="create">

        <h1>CRÉER UNE RECETTE</h1>
        <h2>INGRÉDIENTS ET ÉTAPES</h2>

        <form method="POST" enctype="multipart/form-data" id="formPart2">

            <div id="ingredients">
                <div class="option_ingredient">

                    <input class="ingredient" id="ingredient_1" name="ingredient_1" placeholder ="Saisissez un ingrédient" type="text" required>
                    <br>

                    <div class="second_line">
                        <input  class="quantity" id="quantity_1" name="quantity_1" placeholder ="Saisissez une quantité" type="number" min="1" required>
                        <input  class="unit" id="unit_1" name="unit_1" placeholder ="Saisissez une unité" type="text" required>
                    </div>

                </div>
            </div>  

            <button id="addIngredient" class="submit" type="button">Ajouter un ingrédient</button> 


            <div id="steps">
                <div class="option_step">

                    <textarea  class="step" id="description" name="step_1" placeholder ="Étape 1 de la recette..." required></textarea>

                    <label class="image_button2" for="stepInputFile_1">
                        <img src="/medias/website/common/camera-outline.png" class="stepImage" id="step_1_image" alt="Image affichée">
                        <input type="file" id="stepInputFile_1" class="stepInputFile" name="stepInputFile_1" accept="image/png, .jpg, .jpeg">
                    </label>

                </div>
            </div> 

            <button id="addStep" class="submit" type="button">Ajouter une étape de préparation</button> 



            <div class="interractive_button2">
                <a href=""><button type="previous">Étape précédente</button></a>
                <a href=""><button type="submit">Étape suivante</button></a>
            </div> 


            <div class="lien_accueil">
                <a href="/">Retour à l'accueil</a>
            </div>

            
        </form>
        
    </div>
</main>