<!DOCTYPE html>

<div id="recipePart1">

    <h2>Informations de la recette</h2>
    
    <form method="POST" enctype="multipart/form-data" id="formPart1">

        <div>
            <label for="recipeName">Nom de la recette :</label>
            <input type="text" id="recipeName" name="recipeName" required>
        </div>

        <div>
            <label for="category">Catégorie :</label>
            <select id="category" name="category" required>
                <option value="" hidden>Saisissez une catégorie</option>
                <% postSettings.recipeCategories.forEach( (category, i) => { %>
                    <option value= <%= i %> ><%= category  %></option>
                <% }); %>
            </select> 
        
        </div>

        <div>
            <label for="difficulty">Difficulté :</label>
            <select id="difficulty" name="difficulty" required>
                <option value="" hidden>Saisissez une difficulté</option>
                <% postSettings.recipeDifficulties.forEach( (category, i) => { %>
                    <option value= <%= i %> ><%= category  %></option>
                <% }); %>
            </select> 
        
        </div>

        <div>
            <label for="description">Description :</label>
            <textarea id="description" name="description" rows="4" cols="50"></textarea>
        </div>

        
        <div>
            <p>Image de présentation :</p><br/>
            <input accept="image/png, .jpg, .jpeg, image/gif" type="file" id="inputFile" name="inputFile" required><br/>
            <img id="presentationImage" src="/medias/website/common/no_img_placeholder.png" height="100 px" alt="Image">
        </div>


        <button type="submit">Etape suivantes --></button>
    </form>
</div>
