<!DOCTYPE html>


<div class="filters_section">

    <div class ="filter">
        <input class="f_checkbox" type ="checkbox" >
        all
    </div>

    <div class ="filter">
        <input class="f_checkbox" type ="checkbox" >
        plat principal
    </div>

    <div class ="filter">
        <input class="f_checkbox" type ="checkbox" >
        entrée
    </div>

    <div class ="filter">
        <input class="f_checkbox" type ="checkbox" >
        dessert
    </div>

</div>